.blog footer.entry-meta, .archive footer.entry-meta {display: none;}
.entry-header .entry-meta {display: none;}
body {background-color: #fff;color: #515151;}
a, a:visited {color: #1e73be;text-decoration: none;}
a:hover, a:focus, a:active {color: #000;text-decoration: none;}
body .grid-container {max-width: 1000px;}
body, button, input, select, textarea {font-family: "Open Sans",sans-serif;font-size: 19px;}
body {line-height: 1.7;}
.main-title {font-size: 32px;}
.main-navigation a, .menu-toggle {font-size: 18px;}
.main-navigation .main-nav ul ul li a {font-size: 15px;}
button:not(.menu-toggle), html input[type=button], input[type=reset], input[type=submit], .button, .button:visited {text-transform: capitalize;}
h1 {font-weight: 600;line-height: 1.5em;}
h2 {font-weight: 600;font-size: 33px;line-height: 1.4em;}
h3 {font-weight: 600;font-size: 31px;line-height: 1.4em;}
h4 {font-weight: 600;font-size: 29px;line-height: 1.3em;}
h5 {font-weight: 600;font-size: 28px;line-height: 1.3em;}
@media (max-width:768px) {.main-title {font-size: 30px;}
	h1 {font-size: 30px;}
	h2 {font-size: 25px;}}
.top-bar {background-color: #636363;color: #fff;}
.top-bar a, .top-bar a:visited {color: #fff;}
.top-bar a:hover {color: #303030;}
.site-header {background-color: #fff;color: #3a3a3a;}
.site-header a, .site-header a:visited {color: #3a3a3a;}
.main-title a, .main-title a:hover, .main-title a:visited {color: #222;}
.site-description {color: #999;}
.main-navigation .main-nav ul li a, .menu-toggle {color: #595959;}
.main-navigation .main-nav ul li:hover>a, .main-navigation .main-nav ul li:focus>a, .main-navigation .main-nav ul li.sfHover>a {color: #333;}
button.menu-toggle:hover, button.menu-toggle:focus, .main-navigation .mobile-bar-items a, .main-navigation .mobile-bar-items a:hover, .main-navigation .mobile-bar-items a:focus {color: #595959;}
.main-navigation .main-nav ul li[class*=current-menu-]>a {color: #333;}
.main-navigation .main-nav ul li[class*=current-menu-]>a:hover, .main-navigation .main-nav ul li[class*=current-menu-].sfHover>a {color: #333;}
.navigation-search input[type=search]:focus {color: #333;}
.main-navigation ul ul {background-color: #3f3f3f;}
.main-navigation .main-nav ul ul li a {color: #fff;}
.main-navigation .main-nav ul ul li:hover>a, .main-navigation .main-nav ul ul li:focus>a, .main-navigation .main-nav ul ul li.sfHover>a {color: #fff;background-color: #4f4f4f;}
.main-navigation .main-nav ul ul li[class*=current-menu-]>a {color: #fff;background-color: #4f4f4f;}
.main-navigation .main-nav ul ul li[class*=current-menu-]>a:hover, .main-navigation .main-nav ul ul li[class*=current-menu-].sfHover>a {color: #fff;background-color: #4f4f4f;}
.separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .one-container .container, .separate-containers .paging-navigation, .inside-page-header {background-color: #fff;}
.entry-title a, .entry-title a:visited {color: #333;}
.entry-title a:hover {color: #666;}
.entry-meta {color: #888;}
.entry-meta a, .entry-meta a:visited {color: #666;}
.entry-meta a:hover {color: #1e73be;}
.sidebar .widget {background-color: #fff;}
.sidebar .widget .widget-title {color: #000;}
.footer-widgets {color: #bcbcbc;background-color: #2b2b2b;}
.footer-widgets a, .footer-widgets a:visited {color: #d8d8d8;}
.footer-widgets .widget-title {color: #bcbcbc;}
.site-info {color: #bcbcbc;background-color: #2b2b2b;}
.site-info a, .site-info a:visited {color: #dbdbdb;}
.site-info a:hover {color: #606060;}
.footer-bar .widget_nav_menu .current-menu-item a {color: #606060;}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=search], input[type=tel], input[type=number], textarea, select {color: #666;background-color: #fafafa;border-color: #ccc;}
input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=number]:focus, textarea:focus, select:focus {color: #666;background-color: #fff;border-color: #bfbfbf;}
button, html input[type=button], input[type=reset], input[type=submit], a.button, a.button:visited {color: #fff;background-color: #2875c0;}
button:hover, html input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover, a.button:hover, button:focus, html input[type=button]:focus, input[type=reset]:focus, input[type=submit]:focus, a.button:focus {color: #fff;background-color: #3f3f3f;}
.generate-back-to-top, .generate-back-to-top:visited {background-color: rgba(0,0,0,.4);color: #fff;}
.generate-back-to-top:hover, .generate-back-to-top:focus {background-color: rgba(0,0,0,.6);color: #fff;}
.inside-header {padding: 25px 40px;}
.separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .separate-containers .paging-navigation, .one-container .site-content, .inside-page-header {padding: 60px 40px 40px;}
@media (max-width:768px) {.separate-containers .inside-article, .separate-containers .comments-area, .separate-containers .page-header, .separate-containers .paging-navigation, .one-container .site-content, .inside-page-header {padding: 30px;}}
.main-navigation .main-nav ul li a, .menu-toggle, .main-navigation .mobile-bar-items a {padding-left: 17px;padding-right: 17px;}
.main-navigation .main-nav ul ul li a {padding: 10px 17px;}
.main-navigation ul ul {top: auto;}
.navigation-search, .navigation-search input {height: 100%;}
.rtl .menu-item-has-children .dropdown-menu-toggle {padding-left: 17px;}
.menu-item-has-children .dropdown-menu-toggle {padding-right: 17px;}
.rtl .main-navigation .main-nav ul li.menu-item-has-children>a {padding-right: 17px;}
.footer-widgets {padding: 60px 40px 15px;}
.one-container .sidebar .widget {padding: 0;}
.page .entry-content {margin-top: 0;}
.generate-content-header {background-color: #f7f7f7;background-position: center center;}
.separate-containers .generate-content-header.generate-page-header {margin-top: 0;}
.inside-page-header {background-color: transparent;}
.page-header-content-container {padding-top: 30px;padding-bottom: 30px;padding-left: 40px;padding-right: 40px;}
.navigation-branding .main-title {font-weight: 700;text-transform: none;font-size: 32px;}
@media (max-width:768px) {.navigation-branding .main-title {font-size: 30px;}}
.rll-youtube-player {position: relative;padding-bottom: 56.23%;height: 0;overflow: hidden;max-width: 100%;}
.rll-youtube-player iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;background: 0 0;}
.rll-youtube-player img {bottom: 0;display: block;left: 0;margin: auto;max-width: 100%;width: 100%;position: absolute;right: 0;top: 0;border: none;height: auto;cursor: pointer;-webkit-transition: .4s all;-moz-transition: .4s all;transition: .4s all;}
.rll-youtube-player img:hover {-webkit-filter: brightness(75%);}
.rll-youtube-player .play {height: 72px;width: 72px;left: 50%;top: 50%;margin-left: -36px;margin-top: -36px;position: absolute;background: url("https://kinjoy.co/wp-content/plugins/wp-rocket/assets/img/youtube.png") no-repeat;cursor: pointer;}
.aawp .aawp-tb__row--highlight {background-color: #256aaf;}
.aawp .aawp-tb__row--highlight {color: #fff;}
.aawp .aawp-tb__row--highlight a {color: #fff;}
.no-js img.lazyload {display: none;}
figure.wp-block-image img.lazyloading {min-width: 150px;}
.lazyload, .lazyloading {opacity: 0;}
.lazyloaded {opacity: 1;transition: opacity .4s;transition-delay: 0ms;}
.recentcomments a {display: inline !important;padding: 0 !important;margin: 0 !important;}
.site-logo {width: 200px;padding-top: 6px;}
.entry-title {font-size: 23px;margin-bottom: -25px;margin-top: -7px;}
.hentry p {font-size: 19px;}
.thrv_post_grid .tve_post .tve_pg_container {box-shadow: none;-webkit-box-shadow: none;border: none;}
.tve_post {padding-left: 10px;padding-right: 10px;}
.post-navigation {display: none;}
.single .site.grid-container {max-width: 800px;}
.hentry {margin-bottom: 10px;}
#comments {padding-bottom: 50px;}
.lazyload, .lazyloading {opacity: 0;}
.lazyloaded {opacity: 1;transition: opacity .3s;}