@font-face {font-family: "lsi-fontello";src: url("//blueprintgpap.local/wp-content/plugins/lightweight-social-icons/css/../fonts/fontello.eot");src: url("//blueprintgpap.local/wp-content/plugins/lightweight-social-icons/css/../fonts/fontello.eot#iefix") format("embedded-opentype"),url("//blueprintgpap.local/wp-content/plugins/lightweight-social-icons/css/../fonts/fontello.woff") format("woff"),url("//blueprintgpap.local/wp-content/plugins/lightweight-social-icons/css/../fonts/fontello.ttf") format("truetype"),url("//blueprintgpap.local/wp-content/plugins/lightweight-social-icons/css/../fonts/fontello.svg#fontello") format("svg");font-weight: normal;font-style: normal;}
[class^="lsicon-"]:before, [class*=" lsicon-"]:before {font-family: "lsi-fontello";font-style: normal;font-weight: normal;speak: none;display: inline-block;text-decoration: inherit;width: 1.2em;text-align: center;font-variant: normal;text-transform: none;line-height: 1.2em;}
.lsicon-email-alt:before {content: "";}
.lsicon-email:before {content: "";}
.lsicon-email-squared:before {content: "";}
.lsicon-rss:before {content: "";}
.lsicon-rss-squared:before {content: "";}
.lsicon-phone:before {content: "";}
.lsicon-phone-squared:before {content: "";}
.lsicon-codepen:before {content: "";}
.lsicon-delicious:before {content: "";}
.lsicon-deviantart:before {content: "";}
.lsicon-digg:before {content: "";}
.lsicon-dribbble:before {content: "";}
.lsicon-dropbox:before {content: "";}
.lsicon-facebook:before {content: "";}
.lsicon-facebook-squared:before {content: "";}
.lsicon-flickr:before {content: "";}
.lsicon-foursquare:before {content: "";}
.lsicon-git-squared:before {content: "";}
.lsicon-git:before {content: "";}
.lsicon-github:before {content: "";}
.lsicon-github-squared:before {content: "";}
.lsicon-github-circled:before {content: "";}
.lsicon-google:before {content: "";}
.lsicon-gplus:before {content: "";}
.lsicon-gplus-squared:before {content: "";}
.lsicon-instagram:before {content: "";}
.lsicon-jsfiddle:before {content: "";}
.lsicon-linkedin-squared:before {content: "";}
.lsicon-linkedin:before {content: "";}
.lsicon-pinterest-circled:before {content: "";}
.lsicon-pinterest:before {content: "";}
.lsicon-reddit:before {content: "";}
.lsicon-reddit-squared:before {content: "";}
.lsicon-skype:before {content: "";}
.lsicon-soundcloud:before {content: "";}
.lsicon-spotify:before {content: "";}
.lsicon-stackexchange:before {content: "";}
.lsicon-stackoverflow:before {content: "";}
.lsicon-stumbleupon:before {content: "";}
.lsicon-stumbleupon-circled:before {content: "";}
.lsicon-tumblr-squared:before {content: "";}
.lsicon-tumblr:before {content: "";}
.lsicon-twitter-squared:before {content: "";}
.lsicon-twitter:before {content: "";}
.lsicon-vimeo:before {content: "";}
.lsicon-vine:before {content: "";}
.lsicon-wordpress:before {content: "";}
.lsicon-youtube:before {content: "";}
.lsicon-youtube-squared:before {content: "";}
.lsicon-itunes:before {content: "";}
.lsicon-steam:before {content: "";}
.lsicon-steam-squared:before {content: "";}
.lsicon-behance:before {content: "";}
.lsicon-behance-squared:before {content: "";}
.lsicon-yelp:before {content: "";}
.lsicon-twitch:before {content: "";}
.lsicon-fivehundredpx:before {content: "";}
.lsicon-angellist:before {content: "";}
.lsicon-bloglovin-squared:before {content: "";}
.lsicon-bloglovin:before {content: "";font-size: 80%;}
.lsicon-paper-plane:before {content: "";}
.lsicon-vkontakte:before {content: "";}
.lsicon-bitbucket:before {content: "";}
.lsicon-bandcamp:before {content: "";}
.lsicon-xing:before {content: "";}
.lsicon-yahoo:before {content: "";}
.lsicon-snapchat:before {content: "";}
.lsicon-snapchat-square:before {content: "";}
.lsicon-tripadvisor:before {content: "";}
.lsicon-houzz:before {content: "";}
.lsicon-mixcloud:before {content: "";}
.lsicon-lastfm:before {content: "";}
.lsicon-lastfm-squared:before {content: "";}
.lsi-social-icons {margin: 0 !important;padding: 0 !important;list-style-type: none !important;display: block !important;}
.lsi-social-icons li:before, .lsi-social-icons li:after {content: "" !important;display: none !important;}
.lsi-social-icons li {padding: 0 !important;display: inline-block !important;float: none !important;margin: 0 8px 8px 0 !important;list-style-type: none !important;}
.lsi-social-icons li a {padding: 8px;width: 1.2em;line-height: 1.2em;text-align: center;display: block;text-decoration: none !important;font-style: normal !important;font-weight: normal !important;text-transform: none !important;speak: none;-moz-transition: background-color .2s ease-in-out 0s;-webkit-transition: background-color .2s ease-in-out 0s;transition: background-color .2s ease-in-out 0s;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;}
.tooltipster-default {border-radius: 5px;border: 0;background: #000;color: #fff;}
.tooltipster-default .tooltipster-content {font-family: inherit;font-size: 12px;line-height: 13px;padding: 8px 10px;overflow: hidden;}
.tooltipster-icon {cursor: help;margin-left: 4px;}
.tooltipster-base {padding: 0;font-size: 0;line-height: 0;position: absolute;left: 0;top: 0;z-index: 9999999;pointer-events: none;width: auto;overflow: visible;}
.tooltipster-base .tooltipster-content {overflow: hidden;}
.tooltipster-arrow {display: block;text-align: center;width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: -1;}
.tooltipster-arrow span, .tooltipster-arrow-border {display: block;width: 0;height: 0;position: absolute;}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {border-left: 8px solid transparent !important;border-right: 8px solid transparent !important;border-top: 8px solid;bottom: -7px;}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {border-left: 9px solid transparent !important;border-right: 9px solid transparent !important;border-top: 9px solid;bottom: -7px;}
.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {border-left: 8px solid transparent !important;border-right: 8px solid transparent !important;border-bottom: 8px solid;top: -7px;}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {border-left: 9px solid transparent !important;border-right: 9px solid transparent !important;border-bottom: 9px solid;top: -7px;}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {left: 0;right: 0;margin: 0 auto;}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {left: 6px;}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {left: 5px;}
.tooltipster-arrow-top-right span, .tooltipster-arrow-bottom-right span {right: 6px;}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {right: 5px;}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {border-top: 8px solid transparent !important;border-bottom: 8px solid transparent !important;border-left: 8px solid;top: 50%;margin-top: -7px;right: -7px;}
.tooltipster-arrow-left .tooltipster-arrow-border {border-top: 9px solid transparent !important;border-bottom: 9px solid transparent !important;border-left: 9px solid;margin-top: -8px;}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {border-top: 8px solid transparent !important;border-bottom: 8px solid transparent !important;border-right: 8px solid;top: 50%;margin-top: -7px;left: -7px;}
.tooltipster-arrow-right .tooltipster-arrow-border {border-top: 9px solid transparent !important;border-bottom: 9px solid transparent !important;border-right: 9px solid;margin-top: -8px;}
.tooltipster-fade {opacity: 0;-webkit-transition-property: opacity;-moz-transition-property: opacity;-o-transition-property: opacity;-ms-transition-property: opacity;transition-property: opacity;}
.tooltipster-fade-show {opacity: 1;}
.tooltipster-content-changing {opacity: .5;-webkit-transform: scale(1.1,1.1);-moz-transform: scale(1.1,1.1);-o-transform: scale(1.1,1.1);-ms-transform: scale(1.1,1.1);transform: scale(1.1,1.1);}